#notificationPanel {

   .bulletinPanel {

      .bulletinNotification {

         #icon.new_citizen {
            background-image: url(images/new_citizen_icon.png);
         }

         #icon.town_lvlup {
            background-image: url(images/town_lvlup_icon.png);
         }

         #icon.reembark {
            background-image: url(images/reembark_icon.png);
         }

         #icon.quest_timed {
            background-image: url(images/quest_timed_icon.png);
         }

         #icon.quest_target {
            background-image: url(images/quest_target_icon.png);
         }

         #icon.quest_dispatch {
            background-image: url(images/quest_dispatch_icon.png);
         }

         #icon.info_title {
            background-image: url(images/info_title_icon.png);
         }

         #icon.info_tutorial {
            background-image: url(images/info_tutorial_icon.png);
         }

         #icon.shop {
            background-image: url(images/shop_icon.png);
         }

         #icon.shop_exclusive {
            background-image: url(images/shop_exclusive_icon.png);
         }

         #icon.candledark {
            background-image: url(images/candledark_icon.png);
         }

         #icon.alert_candledark {
            background-image: url(images/alert_candledark_icon.png);
         }

      }

      .alertNotification {

         #icon.new_citizen {
            background-image: url(images/new_citizen_icon.png);
         }

         #icon.town_lvlup {
            background-image: url(images/town_lvlup_icon.png);
         }

         #icon.reembark {
            background-image: url(images/reembark_icon.png);
         }

         #icon.quest_timed {
            background-image: url(images/quest_timed_icon.png);
         }

         #icon.quest_target {
            background-image: url(images/quest_target_icon.png);
         }

         #icon.quest_dispatch {
            background-image: url(images/quest_dispatch_icon.png);
         }

         #icon.info_title {
            background-image: url(images/info_title_icon.png);
         }

         #icon.info_tutorial {
            background-image: url(images/info_tutorial_icon.png);
         }

         #icon.shop {
            background-image: url(images/shop_icon.png);
         }

         #icon.shop_exclusive {
            background-image: url(images/shop_exclusive_icon.png);
         }

         #icon.candledark {
            background-image: url(images/candledark_icon.png);
         }

         #icon.alert_candledark {
            background-image: url(images/alert_candledark_icon.png);
         }

      }

   }

}

