#componentInfoButton {
   width: 32px;
   height: 32px;
   background-repeat: no-repeat;
   background-image: url('images/button_light_blue.png');
   background-size: contain;
   
   position: absolute;
   right: 0px;
   bottom: 115px;
   z-index: 1;
   
   a {
      height: 24px;
      width: 24px;
      margin: 4px 4px 6px 4px;
      display: block;
      background-repeat: no-repeat;
      background-image: url('images/info_icon.png');
      background-size: contain;
   }
}
