#unitFrame {
   left: 50px;
}

#componentInfoButton {
   display: inline-flex;
   height: 20px;
   padding: 5px;
   border: 3px #383230 solid;
   border-radius: 8px;
   align-items: center;
   background-clip: padding-box;
   background-color: #ebebeb;
   margin-left: 3px;
   display: none;

   #infoIcon {
      background-image: url(images/info.png);
      background-repeat: no-repeat;
      width: 22px;
      height: 22px;
      margin: 5px;
   }
}
