#fixtureRoot {
   height: 412px;

   #fixtureContents {
      #fixtures {
         .scrollable {
            height: 275px;
         }
         .fixtureTab {
            .fixtureContainer {
               height: 312px;
            }

            display: none;

            &.categoryVisible {
               display: block;

               .notInSearchFilter, .typeNotInSearchFilter {
                  display: none;
               }
            }

            .fixture {
               .amount {
                  .controlFont;
                  position: absolute;
                  bottom: 0px;
                  right: 4px;
                  color: #fff;
                  font-size: 16px;
               }
            }
         }

         .filters {
            display: flex;
            align-items: center;

            label {
               flex-grow: 1;
               background-position: 4px 4px;
            }
         }
      }

      #fixtureKinds {
         width: 432px;
         padding-left: 10px;

         #utilityKind {
            background-image: url(images/utility.png);
         }

         #utilityKind:hover {
            background-image: url(images/utility_hover.png);
         }

         #storageKind {
            background-image: url(images/storage.png);
         }

         #storageKind:hover {
            background-image: url(images/storage_hover.png);
         }
      }
   }
}