#fixtureRoot {
   height: 412px;

   #fixtureContents {
      #fixtures {
         .scrollable {
            height: 275px;
         }
         .fixtureTab {
            .fixtureContainer {
               height: 312px;
            }
         }
      }

      #fixtureKinds {
         width: 432px;
         padding-left: 10px;

         #utilityKind {
            background-image: url(images/utility.png);
         }

         #utilityKind:hover {
            background-image: url(images/utility_hover.png);
         }

         #storageKind {
            background-image: url(images/storage.png);
         }

         #storageKind:hover {
            background-image: url(images/storage_hover.png);
         }
      }
   }
}