#craftWindow.blacksmith {
   #maintainOrderListBar {
      background-image: url('/stonehearth/jobs/blacksmith/skin/skin.png');
   }

   #orderListContainer {
      #maintainOrdersTable {
         background: inherit;

         .orderListRow {
            background: rgba(128, 128, 128, 0.25);
         }
      }
   }
}