#craftWindow {
   z-index: 1;
}

#craftingWindow {
   #craftInsert {
      position: relative;
      width: 70px;
      height: 74px;
      margin-bottom: 4px;
      display: none;
      background-image: url("images/insert.png");

      img {
         margin: auto;
         display: block;
         width: 50px;
         height: auto;
         padding-top: 3px;
      }
   }

   #details {
      #productCount {
         position: absolute;
         top: 21px;
         left: 8px;
         font-size: 12px;
      }

      .noProductsInInventory {
         color: #992222;
      }

      #recipeEquipmentPane {
         #levelRequirement {
            padding-left: 4px;
         }

         #equipmentTypes {
            padding-top: 8px;
         }

         .buff, .debuff {
            height: 50px;
            width: 50px;
            position: relative;
         }

         .buff {
            background: rgb(64, 128, 64)
         }
         .debuff {
            background: rgb(128, 64, 64)
         }

         .buffImg {
            padding: 3px 5px;
            width: 40px;
         }

         .stacks {
            position: absolute;
            left: 1px;
            bottom: 1px;
            font-family: "groboldregular";
            color: #ebebeb;
            .outlinedThin;
         }
      }

      #stats {
         .stat.satisfaction {
            background: #dad5bb;
            border: 3px black solid;
            border-radius: 15px;
            color: black;
            text-shadow: none;
            font-size: 17px;
            font-family: 'GroboldRegular';
            width: auto;
            height: auto;
            padding: 10px 10px 5px 40px;
            background-repeat: no-repeat;
            background-position: 6px 3px;
            line-height: 22px;
         }

         .stat.satisfaction.food.high {
            background-image: url(/stonehearth_ace/ui/images/satisfaction/food_satisfaction_high.png);
         }
         .stat.satisfaction.food.average {
            background-image: url(/stonehearth_ace/ui/images/satisfaction/food_satisfaction_average.png);
         }
         .stat.satisfaction.food.low {
            background-image: url(/stonehearth_ace/ui/images/satisfaction/food_satisfaction_low.png);
         }
         .stat.satisfaction.drink.high {
            background-image: url(/stonehearth_ace/ui/images/satisfaction/drink_satisfaction_high.png);
         }
         .stat.satisfaction.drink.average {
            background-image: url(/stonehearth_ace/ui/images/satisfaction/drink_satisfaction_average.png);
         }
         .stat.satisfaction.drink.low {
            background-image: url(/stonehearth_ace/ui/images/satisfaction/drink_satisfaction_low.png);
         }
      }
   }

   #recipeList {
      .item.is-workshop-selected {
         box-shadow: 0px 0px 0px 2px rgb(180, 180, 180);
      }

      .setting {
         padding-left: 10px;
         padding-right: 10px;
      }

      #searchSettingContainer {
         z-index: 1;
         position: absolute;
         top: 45px;
         display: flex;
         flex-direction: row;
         //justify-content: space-between;
         height: 40px;
         width: 693px;
         background: url(images/craftSearchSettingsBar.png);

         &.hidden {
            display: none;
         }
      }
   }
}
