#craftingWindow {
   #craftInsert {
      position: relative;
      width: 70px;
      height: 74px;
      margin-bottom: 4px;
      display: none;
      background-image: url("images/insert.png");

      img {
         margin: auto;
         display: block;
         width: 50px;
         height: auto;
         padding-top: 3px;
      }
   }

   #details {
      #recipeEquipmentPane {
         #levelRequirement {
            padding-left: 4px;
         }

         #equipmentTypes {
            padding-top: 10px;
         }

         #injectedBuffs {
            .injectedBuff {
               height: 50px;
               width: 50px;
               background: rgb(64, 128, 64)
            }

            .injectedBuffImg {
               padding: 2px 2px;
               height: 46px;
               width: 46px;
            }
         }

         #inflictableDebuffs {
            .inflictableDebuff {
               height: 50px;
               width: 50px;
               background: rgb(128, 64, 64)
            }

            .inflictableDebuffImg {
               padding: 2px 2px;
               height: 46px;
               width: 46px;
            }
         }
      }
   }
}
