#mercantile {
   margin: 100px auto;
   position: absolute;
   left: 500px;
   z-index: 0;

   .title {
      .handCursor
   }

   .window {
      width: 900px;
      height: 657px;
      position: relative;
   }

   .tabPage {
      width: 100%;
      height: 600px;
      display: none;
      overflow-y: none;
      overflow-x: visible;
   }

   #tabs {
      position: absolute;
      left: 13px;
   }

   .info {
      width: 100%;
      font-size: 18px;
      padding: 10px;
      flex: 0 0 auto;
      
      .num {
         .controlFont;
         font-size: 20px;

         &.limited {
            color: @warningFontColor;
         }

         &.max {
            color: @greenFontColor;
         }
      }
   }

   #activeTab {
      #activeContainer {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 100%;
         height: 100%;

         #merchants {
            flex: 1 1 auto;
            overflow-y: auto;

            .merchant {
               display: inline-block;
               position: relative;
               padding: 10px 0px 8px 8px;
               width: 128px;

               &.hasStall {
                  width: 252px;
               }

               .name {
                  position: absolute;
                  z-index: 2;
                  font-size: 16px;
                  top: 0px;
                  left: 10px;
               }

               .portrait {
                  .button;
                  display: inline-block;
                  position: relative;
                  z-index: 1;
                  width: 128px;
                  height: 128px;
                  background-size: 128px, 128px;
                  background-repeat: no-repeat;
               }

               .shop {
                  .button;
                  position: absolute;
                  z-index: 2;
                  left: 0px;
                  bottom: 0px;

                  content: url(/stonehearth_ace/ui/game/bulletin/bulletin_notification/images/shop_icon.png);
               }

               .stallPortrait {
                  z-index: 0;
                  margin-left: -10px;
               }
            }
         }

         #availableStalls {
            flex: 0 0 auto;
            overflow-x: auto;

            .availableStall {
               display: inline-block;
               position: relative;
               padding: 8px 0px 0px 8px;
               width: 92px;

               .stallIcon {
                  height: 80px;
                  width: 80px;

                  &.tier1 {
                     content: url(images/stall_tier_1.png);
                  }
                  &.tier2 {
                     content: url(images/stall_tier_2.png);
                  }
                  &.tier3 {
                     content: url(images/stall_tier_3.png);
                  }
               }

               .num {
                  .controlFont;
                  position: absolute;
                  right: 4px;
                  bottom: 0px;
                  font-size: 18px;
                  color: inherit;

                  &.limited {
                     color: @warningFontColor;
                  }
         
                  &.max {
                     color: @greenFontColor;
                  }
               }
            }
         }
      }
   }

   #preferencesTab {
      #preferencesContainer {
         display: flex;
         flex-direction: column;

         #allPreferences {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;

            .sectionTitle {
               display: none;
            }

            #categoryPreferences {
               flex: 1 1 auto;
            }

            #exclusivePreferences {

            }
         }
      }
   }
}

.limited {
   color: @warningFontColor;
}

.max {
   color: @greenFontColor;
}
