.tooltipster-default {
	.tooltipster-content {
		.detailedTooltip {
         .tooltipTop{
            .tooltipAdditionalInfo {
               padding-left: 2px;
            }
         }

		   .wantedItem {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.4);
            padding: 2px;
         }

         .higherPrice, .max {
            color: @greenFontColor;
         }
         .lowerPrice, .limited {
            color: @warningFontColor;
         }

         .buying {
            color: mediumspringgreen;
            font-weight: bold;
         }
         
         .selling {
            color: coral;
            font-weight: bold;
         }

         .tier {
            position: absolute;
            top: 10px;
            right: 10px;
            .controlFont;
            font-size: 16px;
            color: rgb(253, 223, 87);
         }

         .value {
            .bold;
            color: rgb(255, 238, 165);
         }

         .description {
            color: rgba(255, 255, 255, 0.6);
         }

         .details {
            padding: 6px;
            color:rgba(255, 255, 255, 0.85);
         }

         .stat {
            padding-top: 5px;
         }

         .netWorth {
            display: inline-block;
            color: #dad5bb;
            text-shadow: none;
            font-size: 17px;
            font-family: 'GroboldRegular';
            width: auto;
            height: auto;
            padding: 7px 2px 4px 33px;
            background-image: url(images/stat_net_worth_icon.png);
            background-repeat: no-repeat;
            background-position: 6px 3px;
            line-height: 22px;
            margin-top: -10px;
         }
   
         .appeal {
            display: inline-block;
            color: #dacabb;
            text-shadow: none;
            font-size: 17px;
            font-family: 'GroboldRegular';
            width: auto;
            height: auto;
            padding: 7px 2px 4px 33px;
            background-image: url(images/stat_appeal_icon.png);
            background-repeat: no-repeat;
            background-position: 6px 3px;
            line-height: 22px;
            margin-top: -10px;
         }
		}

		.bold {
         font-size: 15px;
			font-weight: bold;
		}
   }
}
