#fenceMode {
   position: absolute;
   bottom: 210px;
   left: 200px;

   .loadPresetImg {
      content: url(images/load_icon.png);
   }
   .savePresetImg {
      content: url(images/save_icon.png);
   }
   .deletePresetImg {
      content: url(images/delete_icon.png);
   }

   #fenceSegmentsDiv {
      background-color: @paperBlue;
      border: @paperInnerBorderStyle;
      padding: 5px;

      .fenceSegmentContainer {
         display: inline-block;
         padding: 5px;

         .fenceSegmentBtn {
            display: block;
            width: 60px;
            height: 60px;
            background-image: url(images/background.png);

            &.disabled {
               background-image: url(images/backgroundDisabled.png);

               .fenceSegmentImg {
                  opacity: 0.5;
               }
            }

            .fenceSegmentImg {
               display: block;
               height: 45px;
               margin: auto;
               padding-top: 8px;
            }
         }

         .toggleSegmentBtn {
            display: block;
            padding-top: 10px;

            &.enabled .toggleSegmentImg {
               content: url(images/segmentEnable.png);
            }
            &.disabled .toggleSegmentImg {
               content: url(images/segmentDisable.png);
            }
         }
      }

      #addSegmentBtn {
         position: absolute;
         bottom: 100%;
         margin-bottom: -15px;

         #addSegmentImg {
            content: url(images/add_segment.png);
            //height: 40px;
         }
      }
   }

   #fenceControls {
      position: absolute;
      height: 104px;
      bottom: 0px;
      right: 100%;
      margin-right: 20px;
      padding: 10px;
      background-color: @paperBlue;
      border: @paperInnerBorderStyle;
      justify-content: space-around;
      flex-direction: column;
      display: flex;

      img {
         height: 40px;
      }
   }

   #presetSelection {
      position: absolute;
      bottom: 100%;
      left: 0px;
      padding-bottom: 20px;
      display: none;

      #presetSearch {
         //position: absolute;
         //top: -33px;
         //display: none;
         width: 286px;
         background-color: @paperDarkGrey;
      }

      #presetList {
         .presetRow {
            position: relative;
            background-color: @paperDarkBlue;
            border: @paperOuterBorderStyle;
            width: 300px;

            .presetPreview {
               width: 230px;
               overflow: hidden;

               .presetSegmentImg {
                  padding: 3px 0px 3px 3px;
                  height: 30px;

                  &.disabled {
                     opacity: 0.5;
                  }
               }
            }

            .presetButtons {
               position: absolute;
               right: 5px;
               top: 0px;
               bottom: 0px;
               margin: auto;
               display: none;

               .button {
                  display: inline-block;

                  img {
                     height: 30px;
                     margin-top: 5px;
                  }
               }
            }

            &:hover {
               background-color: @paperBlue;
   
               .presetButtons {
                  display: block;
               }
            }
         }
      }
   }

   #segmentSelection {
      position: absolute;
      bottom: 100%;
      left: 0px;
      padding-bottom: 20px;
      display: none;

      background-color: @paperDarkBlue;
      border: @paperOuterBorderStyle;

      #allSegments {
         width: 300px;
         max-height: 400px;
         overflow-y: auto;
         padding: 4px;

         .segmentDiv {
            position: relative;
            display: inline-block;

            img {
               height: 40px;
               padding: 4px;
            }

            &.unavailable {
               img {
                  opacity: 0.75;
                  //-webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
                  //filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
               }
            }

            &:hover {
               background-color: @paperBlue;
            }

            .selectBox {
               position: absolute;
               top: 0px;
               left: 0px;
               width: 60px;
               height: 60px;
               margin-left: -5px;
               margin-top: -4px;
               background: url(images/select_box.png);
               display: none;
            }

            &.selected {
               .selectBox {
                  display: block;
               }
            }
         }
      }
   }
}
