.citizensManager {
   .window {
      width: 1465px;
   }

   #workerDetails {
      #workerDetailsInnerPane {
         #selectedName {
            white-space: normal;
         }

         #selectedJobDescription {
            top: 10px;
         }

         #selectedClassIcon {
            top: 22px;
            left: 20px;
         }

         #expStat {
            top: 10px;
         }

         .toolbar {
            top: inherit;
            bottom: 90px;
         }
      }
   }

   .workersList {
      width: 1205px;
   }

   #tasksWorkersList {
      #buttonsBar {
         margin-right: 35px;

         .suspendButton {
            padding: 3px;
            margin: 0px 0px 0px 2px;
         }

         .suspendButtonImg {
            width: 20px;
            height: 20px;
         }
      }

      .statTitle {
         &.healthTitle {
            margin-left: 28px;
         }

         .health.statImg {
            .backgroundContain(url(/stonehearth_ace/ui/game/images/health.png));
         }

         &.moodTitle {
            margin-left: 8px;
         }

         .happiness.statImg {
            .backgroundContain(url(/stonehearth_ace/ui/game/images/mood.png));
         }

         .work_build.statImg {
            .backgroundContain(url(/stonehearth_ace/ui/game/images/work_build.png));
         }
         .work_gather.statImg {
            .backgroundContain(url(/stonehearth_ace/ui/game/images/work_gather.png));
         }
         .work_haul.statImg {
            .backgroundContain(url(/stonehearth_ace/ui/game/images/work_haul.png));
         }
         .work_job.statImg {
            .backgroundContain(url(/stonehearth_ace/ui/game/images/work_job.png));
         }
         .work_mine.statImg {
            .backgroundContain(url(/stonehearth_ace/ui/game/images/work_mine.png));
         }
      }

      #tasksTitleName.singlePlayer {
         width: 322px;
      }

      #activityTitle.singlePlayer {
         width: 225px;
      }

      #workingForTitle.singlePlayer {
         display: none;
      }

      #activityTitle {
         margin-left: 28px;
      }

      .workOrderTitle {
         margin-right: 14px;
      }

      .firstWorkOrderTitle {
         margin-left: -2px;
      }
   }

   table {
      .nameColumn.singlePlayer {
         width: 400px;
      }

      .healthColumn {
         width: 40px;

         .healthIcon {
            height: 38px;
         }
      }

      .activityColumn.singlePlayer {
         padding-left: 33px;
      }

      .workOrderColumn {
         width: 47px;
      }
   }
}
