.inlineImg {
   display: inline-block;
   vertical-align: -8px;
   padding: 2px 4px;
   height: 20px;
}

.noCache {
   .hidden;
}

.fullyCached {
   .inlineImg;
   content: url(../../../images/greenCheckSmaller.png);
}

.notFullyCached {
   .hidden;
}
