#bulletinList {

   td {
      div {
         align-items: center;
         height: 30px;
         padding-top: 7px;
         padding-bottom: 5px;
         padding-left: 48px;
      }
   }

   .new_citizen {
      background-image: url(./images/new_citizen_icon.png);
   }

   .town_lvlup {
      background-image: url(./images/town_lvlup_icon.png);
   }

   .reembark {
      background-image: url(./images/reembark_icon.png);
   }

   .quest_timed {
      background-image: url(./images/quest_timed_icon.png);
   }

   .quest_target {
      background-image: url(./images/quest_target_icon.png);
   }

   .quest_dispatch {
      background-image: url(./images/quest_dispatch_icon.png);
   }

   .info_title {
      background-image: url(./images/info_title_icon.png);
   }

   .info_tutorial {
      background-image: url(./images/info_tutorial_icon.png);
   }

   .shop {
      background-image: url(./images/shop_icon.png);
   }

   .shop_exclusive {
      background-image: url(./images/shop_exclusive_icon.png);
   }

   .candledark {
      background-image: url(./images/candledark_icon.png);
   }

   .alert_candledark {
      background-image: url(./images/alert_candledark_icon.png);
   }

   .frostfeast {
      background-image: url(./images/frostfeast_icon.png);
   }

}
