body {
   margin: 0px;
   padding: 0px;
   overflow: hidden;
   background-color: rgba(255,0,255,1);
}

#container {
   width: fit-content;
   text-align: center;
   border: 5px solid rgba(0,0,0,0.5);
}
.buffImg {
   display: inline-block;
}