#craftWindow.weaver {

   background: url('skin.png');

   .item {
      background-image: url('skin.png');
   }

   #secondaryOrderListBar {
      background-image: url('secondary_orders_bar.png');
   }

   #orderListContainer {
      #secondaryOrdersTable {
         background: inherit;

         .orderListRow {
            background: rgba(236, 212, 105, 0.35);
         }
      }

      #autoCraftOrdersTable {
         background: inherit;

         .orderListRow {
            background: rgba(208, 136, 40, 0.35);
         }
      }
   }
}