#craftWindow.grower {
   background: url('skin.png');

   .item {
      background-image: url('skin.png');
   }

   #craftButton {
      position: absolute;
      right: 10px;
      top: -50px;
      width: 90px;
      height: 151px;
      #craftButtonImage {
         background: url('trowel.png');
      }
   }

   #maintainOrderListBar {
      //background-image: url('maintain_orders_bar.png');
   }

   #orderListContainer {
      table{
         background: #1f1e1e;
      }

      .orderListRow {
         background: #1f1e1e;
      }
   }
}

