#settings .advancedGameplaySettings {
   margin: 0px;
}

#settings .settingsDiv .window .gameplayTab {
   bottom: 150px;
}

#modSettingsAccordion.ui-accordion {
   margin-top: 15px;
   overflow-y: auto;
   overflow-x: visible;
   padding-bottom: 250px;
   margin-bottom: -250px;
}

#gameplayTab .modSettings.ui-accordion-content {
   overflow-y: visible;
   overflow-x: visible;
}

.ui-slider {
   margin-left: 5px;
   margin-right: 10px;
}

.list-setting {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
